.flashes {
  padding: 10px;

  p {
    margin: 0;
  }
}

.message {
  background: $flash-color;
  border: 1px solid darken($flash-color, 30%);
  margin-bottom: 2px;
  padding: 5px;
  text-align: center;

  &.info {
    background: $alert-info-bgcolor;
    border-color: $alert-info-bordercolor;
    color: $alert-info-txtcolor;
  }

  &.error {
    background: $alert-error-bgcolor;
    border-color: $alert-error-bordercolor;
    color: $alert-error-txtcolor;
  }

  &.success {
    background: $alert-success-bgcolor;
    border-color: $alert-success-bordercolor;
    color: $alert-success-txtcolor;
  }

  &.warning {
    background: $alert-warning-bgcolor;
    border-color: $alert-warning-bordercolor;
    color: $alert-warning-txtcolor;
  }
}

.message:last-child {
  margin-bottom: 0;
}


.pagination {

  a {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 4px 10px;
    text-decoration: none;
  }

  span {
    display: inline-block;
    margin: 0 10px;
  }

}

.posts {
  padding: 5px;
}

.post {
  border-bottom: 1px solid #ccc;
  padding-bottom: 5px;

  iframe {
    margin: 0 auto;
  }
}

.markdown-body .codehilitetable th, .markdown-body .codehilitetable td {
  padding: 0
}
.markdown-body .codehilitetable pre {
  margin-bottom: 0;
}
