.form-errors {
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    background: $alert-error-bgcolor;
    border: 1px solid $alert-error-bordercolor;
    color: $alert-error-txtcolor;
    display: inline-block;
    font-size: .8em;
    margin: 2px 2px 2px 0; 
    padding: 2px 4px;
  }
}

.form-field {
  margin-bottom: 5px;

  input,
  textarea {
    border: 1px solid #ccc;
    box-sizing: border-box;
    display: block;
    transition: all .2s ease;
    width: 100%;

    &:focus {
      border-color: $base-color;
      outline: none;
    }
  }

}

.post-content {
  height: 500px;
}
