<!DOCTYPE html>
<html>
<head>
    <title>TITLE</title>
    <!-- build:css ../static/css/vendor.css -->
    <link rel="stylesheet" href="/assets/vendor/normalize.css/normalize.css"/>
    <link rel="stylesheet" href="/assets/vendor/gridism/gridism.css"/>
    <!-- endbuild -->
</head>
<body>
    <header>
        <h1>APP_NAME</h1>
        <nav>
        <a href="{{ url_for('blog.index') }}">Posts</a>
        </nav>
    </header>
    <!-- build:js ../static/js/vendor.js -->
    <link rel="stylesheet" href="/assets/vendor/jquery/dist/jquery.js" />
    <!-- endbuild -->
</body>
</html>