{%- from '_helpers.html' import ga_tracking -%}
<!DOCTYPE html>
<html>
<head>
    <title>{%- block title %}{%- endblock %} | {{- config.APP_NAME -}}</title>
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {%- block meta %}
    <meta name="description" content="Description">
    {% endblock -%}
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/vendor.css') }}"/>
    {%- block styles %}{% endblock -%}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
</head>
<body>
    <header class="header">
        <h1><a href="/">{{- config.APP_NAME -}}</a></h1>
        <nav class="grid wrap">
            <ul>
            <li><a href="{{ url_for('blog.index') }}">Posts</a></li>
            {%- if current_user.is_authenticated() %}
            <li><a href="#">{{ current_user.name }}</a></li>
            <li><a href="{{ url_for('blog.add') }}">Add Post</a></li>
            <li><a href="{{ url_for('user.logout') }}">Logout</a></li>
            {% else %}
            <li><a href="{{ url_for('user.login') }}">Login</a></li>
            <li><a href="{{ url_for('user.signup') }}">Sign Up</a></li>
            {% endif -%}
            </ul>
        </nav>
    </header>
    <section class="grid wrap content">
    {%- with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <div class="flashes">
        {% for category, message in messages %}
            <div class="message {{ category }}"><p>{{ message }}</p></div>
        {% endfor %}
        </div>
      {% endif %}
    {%- endwith %}
    
    <div class="unit whole">{%- block content %}{%- endblock %}</div>
    {%- block sidebar %}{%- endblock %}
    </section>
    
    <footer>
    {%- block footer %}{% endblock -%}
    </footer>
    {%- block scripts %}
    <script src="{{ url_for('static', filename='js/vendor.js') }}"></script>
    {%- endblock %}
    <script src="{{ url_for('static', filename='js/all.js') }}"></script>
    {%- if config.DEBUG %}
    <!-- livereload script -->
    <script>document.write('<script src="http://'
     + (location.host || 'localhost').split(':')[0]
     + ':35729/livereload.js?snipver=1" type="text/javascript"><\/script>')
    </script>
    {% endif -%}
    {{- ga_tracking() -}}
</body>
</html>