<!DOCTYPE html>
<html>
<head>
	<title> {% block title %}{% endblock %} - App</title>
	{% block meta %}
	<meta name="description" content="Description">
	{% endblock %}
	{% block styles %}
	{% endblock %}
</head>
<body>
	<h1>App</h1>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
        {% for message in messages %}
            <li>{{ message }} </li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
	{% block content %}{% endblock %}
	{% block scripts %}{% endblock %}
</body>
</html>